/* google font cdn */

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@100;200;300;400;600&family=Mulish:ital,wght@0,400;0,500;0,600;1,400;1,500&family=Noto+Serif&family=Outfit:wght@500;600;700;800;900&display=swap');






/* common style start here */

*{
    margin:0;
    font-family: 'Outfit', sans-serif;
    
}
.container{
    width: 1320px;
    display: flex;
    margin: 0 auto;
    gap:45px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}

h3{
    font-size: 42px;
    font-weight: 700;
    line-height: 53px;
    color:#1F0D2B;

}

p{
   font-family: 'Mulish', sans-serif;
   font-size: 15px;
   font-weight: 500;
   line-height: 28px;
   color:#6A6D7A;
}

.btn{
    width: 170px;
    height: 62px;
    color:#0360CD;
    background-color: #FFFFFF;
    margin-top:40px;
    font-size: 15px;
    font-weight: 500;
    line-height: 19px;
    border:none;
    border-radius: 5px;  
}
.btn i{
    margin-left: 20px;
}


/* Hero section style start here */

.container-hero{
    width: 100%;
    display: flex;
    margin: 0 auto;
    gap:20px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}
.hero-section{
    background: linear-gradient(105.78deg, #025FCC 22.04%, #1FA6FD 100%);
    padding-top:186px; 
    padding-left: 60px;
    height: 800px;
    margin-bottom: 45px;
   

}

.hero-info{
    width: 55%;
    
}
.hero-info p{    
        font-family: 'Mulish', sans-serif;
        font-size: 17px;
        font-weight: 500;
        line-height: 28px;
        color:#FFFFFF;
     
}

.hero-info h2{
    font-size: 70px;
    font-weight: 800;
    line-height: 87px;
    padding-bottom: 14px;
    text-transform: uppercase;
    color:#ffffff;
}


/* Hero's image section start here  */

.hero-image{
    width: 45%;
    
}
.hero-image img{
    width: 552px;
    height: 542px;
}

/* about section style start here */

.about-img{
    width: 507px;
    height: 909px;
}
 
.fa-li{
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    background: linear-gradient(105.78deg, #025FCC 22.04%, #1FA6FD 100%);
}

.btn1{
    width: 170px;
    height: 62px;
    color:#FFFFFF;
    background: linear-gradient(105.78deg, #025FCC 22.04%, #1FA6FD 100%);
    margin-top:40px;
    font-size: 15px;
    font-weight: 500;
    line-height: 19px;
    border:none;
    border-radius: 5px;  
}

.btn1 i{
    margin-left:20px;
}
.fa-li{
   margin-right: 10px;
}

.plan-ul{
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    color:#6A6D7A;
}
.plan-ul li{
    padding-left:10px;
}

/* My plan style start here */

.my-plan h3{ 
    font-size: 42px;
    font-weight: 700;
    line-height: 53px;
    color:#1F0D2B;
    text-align: center;
    margin-bottom: 20px;
    
}

.btn3{
    width: 130px;
    height: 48px;
    color:#0D1C37;
    background-color: #FFFFFF;
    margin-top:40px;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    border:none;
    border-radius: 5px;  
}
.btn3 i{
    margin-left: 10px;
}

.card{
   width:25%;
   height: 445px;
   background-color: #F4F6FD;
   padding:10px;
   text-align: center;
   

}

.card-round{
    width: 100px;
    height: 100px;
    border:none;
    border-radius: 50%;
    text-align: center;
    padding:20px;
    background-color: #FFFFFF;
    margin-top: 42px;
    margin:52px;
    margin-right: 51px;
   
    
}

.card-round img{
    width: 93px;
    height: 93px;
}


/* Contact info style start here */
.contact-section{
    text-align: center;
    margin-top: 30px;
}
#contact-h3{
    text-align: center;
    margin-bottom: 30px;
    color:#02101a;
}
.contact{
    display: flex;
    margin: 0 auto;
    gap:20px;
    align-items: center;
    justify-content: space-between;

}



.geo-location iframe{
    width: 625px;
    margin-top: 15px;
}

.contact-input{
    margin-bottom: 15px;

}
.contact-input input{
    width: 100%;
    padding:20px;
    border:1px solid #1FA6FD;
    color:#1F0D2B;
   margin-bottom: 10px;


}

.contact textarea{
    width: 100%;
    height: 200px;
    padding: 10px;
    color:#1F0D2B;
    border: 1px solid #0360CD;

}

/* Positive mind style section start here */
.positive-info{
    background: linear-gradient(105.78deg, #025FCC 22.04%, rgba(31, 166, 253, 0.1) 100%);
    opacity: 0.3;
   
}

.positive-info{
    background: linear-gradient(105.78deg, #025FCC 22.04%, rgba(31, 166, 253, 0.1) 100%);
    opacity: 1;


}
.bg-section{
    background-image: url(images/hand-watch.png);
    background-repeat: no-repeat;
    width:1320px;
    background-size: contain;
    background-position: right;
    margin-left: 113px;
    margin-top: 45px;
}



.positive-info h2{
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    padding-top: 116px;
    padding-left: 30px;
    color:#ffffff;
}
#btn5{
    width: 170px;
    height: 62px;
    color:#0360CD;
    background-color: #FFFFFF;
    margin-top:40px;
    font-size: 15px;
    font-weight: 500;
    line-height: 19px;
    border:none;
    border-radius: 5px;  
    margin-left: 45px;
   
}

/* Footer section */

.container-footer{
    width: 100%;
    display: flex;
    margin: 0 auto;
    gap:55px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    background-color: #000F2C;
    margin-top:45px;
    color: #FFFFFF;
    padding-top: 121px;

}

.container-footer h5{
    font-size: 38px;
    font-weight: 800;
    font-weight: 48px;
    color:#FFFFFF;
    
}
.container-footer span{
    font-size: 23px;
    font-weight: 700;
    font-weight: 29px;
    color:#FFFFFF;
    
}

.container-footer small{
    font-size: 15px;
    font-weight: 500;
    font-weight: 19px;
    color:#FFFFFF;
    
}

.container-footer p{
    font-size: 16px;
    font-weight: 700;
    font-weight: 39px;
    color:#C7C7C7;
    
}
.social{
    padding-left: 45px;   
    width: 33%;

}
.link{
    width: 33%;

}

.contact-footer{
    width: 33%;
}



